# 150M-count Synthetic Iris Dataset â€” Python

## Libraries

In [10]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

## Load the Iris dataset

In [11]:
iris = load_iris(as_frame=True)
iris_df = iris.frame

## Separate data by species

In [12]:
setosa = iris_df[iris_df['target'] == 0].drop('target', axis=1)
versicolor = iris_df[iris_df['target'] == 1].drop('target', axis=1)
virginica = iris_df[iris_df['target'] == 2].drop('target', axis=1)

def generate_synthetic_data(original_df, num_samples):
    """Generates synthetic data with the same statistical properties as the input DataFrame."""
    synthetic_data = {}
    for col in original_df.columns:
        mean = original_df[col].mean()
        std = original_df[col].std()
        synthetic_data[col] = np.random.normal(loc=mean, scale=std, size=num_samples)
    return pd.DataFrame(synthetic_data)

## Generate synthetic data for each species

In [13]:
n_samples_per_species = 50_000_000  # Distribute the 150 million samples evenly

synthetic_setosa = generate_synthetic_data(setosa, n_samples_per_species)
synthetic_versicolor = generate_synthetic_data(versicolor, n_samples_per_species)
synthetic_virginica = generate_synthetic_data(virginica, n_samples_per_species)

## Add the target variable back

In [14]:
synthetic_setosa['target'] = 0
synthetic_versicolor['target'] = 1
synthetic_virginica['target'] = 2

## Combine the synthetic datasets

In [15]:
synthetic_iris = pd.concat([synthetic_setosa, synthetic_versicolor, synthetic_virginica], ignore_index=True)

print(f"Shape of the synthetic Iris dataset: {synthetic_iris.shape}")
synthetic_iris.head()

# You would then want to verify the statistical properties of synthetic_iris
# against the original iris_df

Shape of the synthetic Iris dataset: (150000000, 5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.546403,3.420980,1.405668,0.095664,0
1,4.435805,3.161204,1.437168,0.261106,0
2,5.402873,3.180890,1.346026,0.174630,0
3,4.370459,3.780608,1.570134,0.154849,0
4,5.197340,2.911535,1.263559,0.257178,0

## Describe Both

### Original Iris Dataset

In [16]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

### Synthetic Iris Dataset

In [17]:
synthetic_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,1.500000e+08,1.500000e+08,1.500000e+08,1.500000e+08,1.500000e+08
mean,5.843443e+00,3.057337e+00,3.758005e+00,1.199331e+00,1.000000e+00
std,8.285518e-01,4.370409e-01,1.760438e+00,7.602552e-01,8.164966e-01
min,2.398222e+00,1.013755e+00,4.833981e-01,-3.154583e-01,0.000000e+00
25%,5.161807e+00,2.747923e+00,1.579206e+00,3.170724e-01,0.000000e+00
50%,5.807490e+00,3.025529e+00,4.249221e+00,1.323341e+00,1.000000e+00
75%,6.446017e+00,3.342410e+00,5.215454e+00,1.844526e+00,2.000000e+00
max,1.009893e+01,5.517331e+00,8.595169e+00,3.638684e+00,2.000000e+00

In [19]:
import os
iris_small_file = "iris.csv"
iris_big_file = "iris-150m.csv"
if not os.path.exists(iris_small_file):
    iris_df.to_csv(iris_small_file, index=False)
    print(f"Small Iris data saved to '{iris_small_file}'.")
if not os.path.exists(iris_big_file):
    synthetic_iris.to_csv(iris_big_file, index=False)
    print(f"Big Iris dataset saved to '{iris_big_file}'.")

Small Iris data saved to 'iris.csv'.
Big Iris dataset saved to 'iris-150m.csv'.

In [ ]:
!ls -l iris*